.cabecalho {
  background: url(/assets/imagens/fundo-cabecalho.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .logo {
  width: 46%;
  padding: 2rem 3rem;
}

.cabecalho .logo img {
  width: 90%;
  max-width: 350px;
  margin-bottom: 2rem;
}
